@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;  
    scroll-behavior:smooth;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1880px;
    margin: 0px auto; 
    padding: 0 25px;
    height: inherit;
}


.black_background {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #202020;
}

.black_background_2 {
    background-size: cover;
    background-repeat: no-repeat;
}


.white_word {
    font-size: 20px;
    font-family: Montserrat;
    color: white;
    position: relative;
    top: 100px;
    left: 568px;
    width: 300px;
    margin-bottom: 130px;
    p {
        font-size: 16px;
        font-family: Montserrat;
        color: white;
        width: 610px;
        padding-top: 15px;
    }
}

.white_line {
    font-size: 16px;
    font-family: Montserrat;
    color: white;
    position: relative;
    margin-top: 60px;
    margin-left: 568px;
    bottom: 45px;
    line-height: 25px;
    width: 550px;
}
.white_line_1 {
    font-size: 16px;
    font-family: Montserrat;
    color: white;
    position: relative;
    margin-top: 160px;
    margin-left: 568px;
    bottom: 25px;
    line-height: 25px;
    width: 550px;
}

.white_line li {
    margin-left: 20px;
}

.button_1 {
    background-color: #B45656;
    width: 695px;
    height: 44px;
    margin-top: 5px;
    margin-left: 568px;
    position: relative;
    padding-left: 10px;
    color: white;
    font-size: 16px;
    font-family: Montserrat;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

.burger_1 {
    margin-left: 568px;
    color: white;
    font-family: Montserrat;
    font-size: 16px;
    width: 695px;
    overflow: hidden;
    max-height: 0;
    line-height: 35px;
    transition: 0.3s;
}

.white_word_2 {
    font-size: 20px;
    font-family: Montserrat;
    color: white;
    position: relative;
    margin-top: 25px;
    margin-left: 568px;
    margin-bottom: 25px;
}


